{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/abramova.mastervision.su/new-system-psychology-2",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-05-21T15:16:53.176Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-05-21T15:16:53.613Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1590246862974.859,
          "ctimeMs": 1590246862974.859,
          "date": "2020-05-23T15:24:12.135Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1590254373337.5225,
          "ctimeMs": 1590254373337.5225,
          "date": "2020-05-23T17:19:37.154Z"
        },
        {
          "file": "fonts/Gilroy.eot",
          "mtimeMs": 1588995494000,
          "ctimeMs": 1589013637427.1729,
          "date": "2020-05-21T15:16:55.949Z"
        },
        {
          "file": "fonts/Gilroy.svg",
          "mtimeMs": 1588995494000,
          "ctimeMs": 1589013637421.1687,
          "date": "2020-05-21T15:16:56.904Z"
        },
        {
          "file": "fonts/Gilroy.ttf",
          "mtimeMs": 1588995494000,
          "ctimeMs": 1589013637415.165,
          "date": "2020-05-21T15:16:57.876Z"
        },
        {
          "file": "fonts/Gilroy.woff",
          "mtimeMs": 1588995494000,
          "ctimeMs": 1589013637424.171,
          "date": "2020-05-21T15:16:58.423Z"
        },
        {
          "file": "fonts/Gilroy.woff2",
          "mtimeMs": 1588995494000,
          "ctimeMs": 1589013637429.1738,
          "date": "2020-05-21T15:16:58.973Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1588995516000,
          "ctimeMs": 1589013574177.792,
          "date": "2020-05-21T15:16:59.658Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1588995516000,
          "ctimeMs": 1589013574155.7783,
          "date": "2020-05-21T15:17:00.949Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1588995516000,
          "ctimeMs": 1589013574147.7705,
          "date": "2020-05-21T15:17:02.111Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1588995516000,
          "ctimeMs": 1589013574169.7878,
          "date": "2020-05-21T15:17:02.853Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1588995516000,
          "ctimeMs": 1589013574181.796,
          "date": "2020-05-21T15:17:03.443Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1588995524000,
          "ctimeMs": 1589013652182.6616,
          "date": "2020-05-21T15:17:04.330Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1588995524000,
          "ctimeMs": 1589013652177.6592,
          "date": "2020-05-21T15:17:05.618Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1588995524000,
          "ctimeMs": 1589013652170.654,
          "date": "2020-05-21T15:17:06.510Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1588995524000,
          "ctimeMs": 1589013652179.6611,
          "date": "2020-05-21T15:17:07.219Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1588995524000,
          "ctimeMs": 1589013652185.6638,
          "date": "2020-05-21T15:17:08.112Z"
        },
        {
          "file": "fonts/GilroyLight.eot",
          "mtimeMs": 1588995544000,
          "ctimeMs": 1589013644998.0476,
          "date": "2020-05-21T15:17:08.954Z"
        },
        {
          "file": "fonts/GilroyLight.svg",
          "mtimeMs": 1588995542000,
          "ctimeMs": 1589013644992.046,
          "date": "2020-05-21T15:17:10.289Z"
        },
        {
          "file": "fonts/GilroyLight.ttf",
          "mtimeMs": 1588995542000,
          "ctimeMs": 1589013644986.0403,
          "date": "2020-05-21T15:17:11.558Z"
        },
        {
          "file": "fonts/GilroyLight.woff",
          "mtimeMs": 1588995544000,
          "ctimeMs": 1589013644995.0479,
          "date": "2020-05-21T15:17:12.207Z"
        },
        {
          "file": "fonts/GilroyLight.woff2",
          "mtimeMs": 1588995544000,
          "ctimeMs": 1589013645000.0513,
          "date": "2020-05-21T15:17:13.178Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1588995552000,
          "ctimeMs": 1589013591079.9082,
          "date": "2020-05-21T15:17:14.083Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1588995552000,
          "ctimeMs": 1589013591073.9016,
          "date": "2020-05-21T15:17:15.086Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1588995552000,
          "ctimeMs": 1589013591067.9001,
          "date": "2020-05-21T15:17:15.723Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1588995552000,
          "ctimeMs": 1589013591076.9062,
          "date": "2020-05-21T15:17:16.547Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1588995552000,
          "ctimeMs": 1589013591081.909,
          "date": "2020-05-21T15:17:17.843Z"
        },
        {
          "file": "img/certs/cert-1.jpg",
          "mtimeMs": 1590072865639.5046,
          "ctimeMs": 1590072865639.5046,
          "date": "2020-05-21T15:17:21.635Z"
        },
        {
          "file": "img/certs/cert-1.min.jpg",
          "mtimeMs": 1590072869071.8762,
          "ctimeMs": 1590072869071.8762,
          "date": "2020-05-21T15:17:22.438Z"
        },
        {
          "file": "img/certs/cert-2.jpg",
          "mtimeMs": 1590072872133.0308,
          "ctimeMs": 1590072872133.0308,
          "date": "2020-05-21T15:17:23.319Z"
        },
        {
          "file": "img/certs/cert-2.min.jpg",
          "mtimeMs": 1590072875591.7292,
          "ctimeMs": 1590072875591.7292,
          "date": "2020-05-21T15:17:24.337Z"
        },
        {
          "file": "img/images/about.jpg",
          "mtimeMs": 1590120452334.4717,
          "ctimeMs": 1590120452334.4717,
          "date": "2020-05-22T04:07:56.467Z"
        },
        {
          "file": "img/images/benefits.png",
          "mtimeMs": 1590223069766.8347,
          "ctimeMs": 1590223069767.836,
          "date": "2020-05-23T08:38:57.164Z"
        },
        {
          "file": "img/images/books.png",
          "mtimeMs": 1590223072702.5532,
          "ctimeMs": 1590223072761.9214,
          "date": "2020-05-23T08:38:57.899Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1590223093256.6387,
          "ctimeMs": 1590223093296.6655,
          "date": "2020-05-23T08:39:01.624Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1590072849764,
          "ctimeMs": 1590072849785.0137,
          "date": "2020-05-21T15:17:36.573Z"
        },
        {
          "file": "img/images/main-img-2.png",
          "mtimeMs": 1590120466303.9443,
          "ctimeMs": 1590120466363.0178,
          "date": "2020-05-22T04:07:57.702Z"
        },
        {
          "file": "img/images/main-img.png",
          "mtimeMs": 1590235205602.8381,
          "ctimeMs": 1590235205662.8784,
          "date": "2020-05-23T12:00:10.449Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1590222257933.1091,
          "ctimeMs": 1590222257933.1091,
          "date": "2020-05-23T08:39:19.080Z"
        },
        {
          "file": "img/images/clouds.png",
          "mtimeMs": 1590120460010.4968,
          "ctimeMs": 1590120460071.5376,
          "date": "2020-05-22T04:07:57.136Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1590120652267.4827,
          "ctimeMs": 1590120652268.4836,
          "date": "2020-05-22T04:10:56.283Z"
        },
        {
          "file": "img/backs/benefits.png",
          "mtimeMs": 1590072859215.735,
          "ctimeMs": 1590158115597.355,
          "date": "2020-05-22T17:04:13.537Z"
        },
        {
          "file": "img/images/clouds-2.png",
          "mtimeMs": 1590223075964.2207,
          "ctimeMs": 1590223075965.2217,
          "date": "2020-05-23T08:38:58.609Z"
        },
        {
          "file": "img/images/day-1.png",
          "mtimeMs": 1590237260700.4133,
          "ctimeMs": 1590237260702.4148,
          "date": "2020-05-23T12:43:10.412Z"
        },
        {
          "file": "img/images/day-2.png",
          "mtimeMs": 1590237265183.6638,
          "ctimeMs": 1590237265226.6934,
          "date": "2020-05-23T12:43:11.141Z"
        },
        {
          "file": "img/images/day-3.png",
          "mtimeMs": 1589014389390.015,
          "ctimeMs": 1590163443586.5967,
          "date": "2020-05-22T17:04:18.816Z"
        },
        {
          "file": "img/images/for.png",
          "mtimeMs": 1590223089949.6023,
          "ctimeMs": 1590223089992.631,
          "date": "2020-05-23T08:39:00.889Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1590223128817.3547,
          "ctimeMs": 1590223128817.3547,
          "date": "2020-05-23T08:39:02.928Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1590223131272.1074,
          "ctimeMs": 1590223131272.1074,
          "date": "2020-05-23T08:39:03.645Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1579959346841.2505,
          "ctimeMs": 1579959346841.2505,
          "date": "2020-05-23T08:39:04.388Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1579959352573.6072,
          "ctimeMs": 1579959352573.6072,
          "date": "2020-05-23T08:39:05.034Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1579959358900.9497,
          "ctimeMs": 1579959358900.9497,
          "date": "2020-05-23T08:39:05.635Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1579959388677.9707,
          "ctimeMs": 1579959388677.9707,
          "date": "2020-05-23T08:39:06.298Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1579959396665.9336,
          "ctimeMs": 1579959396665.9336,
          "date": "2020-05-23T08:39:06.981Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1579959408180.704,
          "ctimeMs": 1579959408180.704,
          "date": "2020-05-23T08:39:07.764Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1579959414830.9966,
          "ctimeMs": 1579959414830.9966,
          "date": "2020-05-23T08:39:08.659Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1579959420788.9841,
          "ctimeMs": 1579959420788.9841,
          "date": "2020-05-23T08:39:09.318Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1579959440059.6484,
          "ctimeMs": 1579959440059.6484,
          "date": "2020-05-23T08:39:09.926Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1579959446506.2993,
          "ctimeMs": 1579959446506.2993,
          "date": "2020-05-23T08:39:10.524Z"
        },
        {
          "file": "img/revs/video-11.jpg",
          "mtimeMs": 1579959453420.2546,
          "ctimeMs": 1579959453420.2546,
          "date": "2020-05-23T08:39:11.131Z"
        },
        {
          "file": "img/revs/video-12.jpg",
          "mtimeMs": 1579959458093.3723,
          "ctimeMs": 1579959458093.3723,
          "date": "2020-05-23T08:39:11.735Z"
        },
        {
          "file": "img/revs/video-13.jpg",
          "mtimeMs": 1579959462914.901,
          "ctimeMs": 1579959462914.901,
          "date": "2020-05-23T08:39:12.381Z"
        },
        {
          "file": "img/revs/video-14.jpg",
          "mtimeMs": 1579959469332.1057,
          "ctimeMs": 1579959469332.1057,
          "date": "2020-05-23T08:39:12.963Z"
        },
        {
          "file": "img/revs/video-15.jpg",
          "mtimeMs": 1579959475469.6052,
          "ctimeMs": 1579959475469.6052,
          "date": "2020-05-23T08:39:13.527Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1579959480662.95,
          "ctimeMs": 1579959480662.95,
          "date": "2020-05-23T08:39:14.085Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1579959485483.1914,
          "ctimeMs": 1579959485483.1914,
          "date": "2020-05-23T08:39:14.712Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1579959492884.1013,
          "ctimeMs": 1579959492884.1013,
          "date": "2020-05-23T08:39:15.391Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1579959499600.94,
          "ctimeMs": 1579959499600.94,
          "date": "2020-05-23T08:39:16.029Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1579959505049.2258,
          "ctimeMs": 1579959505049.2258,
          "date": "2020-05-23T08:39:16.601Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1579959509627.4482,
          "ctimeMs": 1579959509627.4482,
          "date": "2020-05-23T08:39:17.198Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1579959514815.3262,
          "ctimeMs": 1579959514815.3262,
          "date": "2020-05-23T08:39:17.774Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1579959520148.875,
          "ctimeMs": 1579959520148.875,
          "date": "2020-05-23T08:39:18.378Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1590253664665.6565,
          "ctimeMs": 1590253664665.6565,
          "date": "2020-05-23T17:07:59.253Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1590252129500.2932,
          "ctimeMs": 1590252129500.2932,
          "date": "2020-05-23T16:42:12.526Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1589635917678.3777,
          "date": "2020-05-23T16:38:28.394Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1590252769865.694,
          "ctimeMs": 1590252769865.694,
          "date": "2020-05-23T16:52:54.569Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/backs/benefits-bg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 559979,
          "optimized": true
        }
      },
      {
        "file": "img/backs/benefits.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 371164
        }
      },
      {
        "file": "img/certs/cert-1.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 214023,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-1.min.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 18427,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-2.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 99282,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-2.min.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 21186,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 16228,
          "optimized": true
        }
      },
      {
        "file": "img/images/Laptop.png",
        "config": {
          "preserveOriginal": false
        }
      },
      {
        "file": "img/images/about.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 66902,
          "optimized": true
        }
      },
      {
        "file": "img/images/benefits.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 443071,
          "optimized": true
        }
      },
      {
        "file": "img/images/books.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 102566,
          "optimized": true
        }
      },
      {
        "file": "img/images/clouds-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 704006,
          "optimized": true
        }
      },
      {
        "file": "img/images/clouds.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 1021678,
          "optimized": true
        }
      },
      {
        "file": "img/images/day-1.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 586688
        }
      },
      {
        "file": "img/images/day-2.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 834154
        }
      },
      {
        "file": "img/images/day-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 673158
        }
      },
      {
        "file": "img/images/for.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 139278,
          "optimized": true
        }
      },
      {
        "file": "img/images/janna.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 396138,
          "optimized": true
        }
      },
      {
        "file": "img/images/laptop.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 47562,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 20475,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-img-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 248668,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-img.png",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 267470
        }
      },
      {
        "file": "img/images/pen.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 37759,
          "optimized": true
        }
      },
      {
        "file": "img/revs/text-1.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 56548,
          "optimized": true
        }
      },
      {
        "file": "img/revs/text-10.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 89289,
          "optimized": true
        }
      }
    ]
  }
}
