@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/0.base'
@import 'base/0.header'

@import 'main/1.main'
@import 'main/2.about'
@import 'main/3.feats'
@import 'main/4.for'
@import 'main/5.plan'
@import 'main/6.useful'
@import 'main/7.program'
@import 'main/8.author'
@import 'main/9.revs'
@import 'main/10.last'
@import 'base/0.footer'
@import 'main/11.modal'
@import 'main/12.medias'