#main
	padding 0 0 60px
	background-color: #FFE9DB
	// height calc(100vh - 147px)
	text-align center
	background-image url(../img/images/main-img-2.png)
	background-repeat no-repeat
	background-position: top 160px  left
	background-size: 600px
.laptop-wrapper-main
	margin-bottom: 50px
.main-title
	font-size: 30px;
	font-family: GBk
	font-weight: 900
	color: rgb(176, 84, 32);
	text-transform: uppercase;
	line-height: 1.2;
	text-align center
	margin-bottom: 30px
.main-text
	font-size: 22px;
	font-family: 'GilroyMedium',sans-serif;
	font-weight: 600;
	// text-transform: uppercase;
	margin 60px 0 20px