@media screen and (min-height 750px)
	#main
		min-height calc(100vh - 148px)
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 100px
	.main-title
		margin-bottom: 70px
	.main-text
		font-size: 26px
		margin 100px 0 50px
@media screen and (max-width 991px)
	.main-text
		margin-top: 100px
@media screen and (max-width 767px)
	#main
		background-image: none
	header
		margin-bottom: 20px
	.header-logo
		float none
		display block
		margin 0 auto 5px
	.contacts
		float none
		text-align center
		line-height: 1
		.contact
			line-height: 1
			display inline-block
	.main-text
		margin-top: 70px
@media screen and (max-width 485px)
	#main
		padding-bottom: 40px
	header
		margin-bottom: 10px
	.header-logo
		width 70px
		margin 0 auto
	.contact
		font-size: 14px
	.main-title
		font-size: 24px
		margin-bottom: 20px
	.main-text
		font-size: 20px
		margin-top: 50px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.button
		max-width: 300px;
		padding: 20px 30px;
@media screen and (max-width 385px)
	header
		margin-bottom: 0
	.main-title
		font-size: 20px
	.main-text
		font-size: 18px
		margin-top: 20px
	.laptop-wrapper
		margin-bottom: 0
	.laptop-wrapper:before
		content: none
	.video-wrapper
		width 100%
	.video-wrapper iframe, .video-wrapper img
		width 100%
		top 0