#last
	@extend #benefits
	overflow hidden
	text-align center
	color #fff
.last-title
	font-size: 50px;
	font-family: GBk
	font-weight: 900
	text-transform: uppercase;
	line-height: 1.2;
.last-text
	font-size: 30px
	font-family: GBd
	font-weight: bold
	text-transform uppercase
	margin 50px 0