#about
	padding 100px 0 220px
	// overflow hidden
.about-text
	margin-bottom: 30px
	&:last-of-type
		margin-bottom: 0
.about-wrapper
	position relative
.about-img
	margin 0 0 0 auto
	width 100%
	max-width 540px
	display block
	box-shadow: -30px 30px 0 0 #C95314
.footnote-1
	top -20px
	right -60px
.footnote-2
	top 250px
	right 0
.footnote-3
	bottom: -150px
	right 60px