#for
	padding 150px 0 90px
	background-image url('../img/images/for.png')
	background-repeat no-repeat
	background-position: center
	// background-size: 400px
.for-item
	border-radius: 60px;
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.3);
	width 100%
	max-width: 351px;
	padding 50px
	margin-bottom: 50px
	position relative
	font-size: 16px
	background-color #fff
	&:before
		content '+'
		display block
		position absolute
		font-size: 36px;
		font-family: GBd
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 50px
		text-align: center;
		border-radius: 50%;
		box-shadow: 0px 1px 16.2px 1.8px rgba(176, 84, 32, 0.95);
		width: 50px;
		height: 50px;
		top -10px
		right -10px
		background-color: #b05420
	&-left:before
		right auto
		left -10px
	&-1
		margin 50px 0 50px auto
	&-2
		margin 0 70px 50px auto
	&-3
		margin 0 40px 50px auto
	&-4
		margin 0 0 50px auto
	&-5
		margin 50px auto 50px 0
	&-6
		margin 0 auto 50px 70px
	&-7
		margin 0 70px auto 50px  40px
	&-8
		margin 0 40px auto 0
.button-for
	margin-top: 50px