#usefull
	@extend #benefits
.usefull-item
	color #fff
	margin-bottom: 15px
	&-title
		font-size: 59px
		font-family: GBk
		font-weight: 900
		text-transform uppercase
	&-text
		font-size: 20px
	&-list
		list-style: none
.button-usefull
	margin-top: 50px