section#about
	.container
		.row
			.col-md-6.col-sm-6
				p.about-text Курс «Новая системная психология 2.0.» основан на психотерапевтических техниках, а также приёмах практической психологии по моделированию  вербального и невербального поведения людей. Это направление было разработано в 1960-70 годы Джоном Гриндером, Ричардом Бендлером, Фрэнком Пьюселиком. Также курс включает методики НЛП – современной универсальной психотехнологии, позволяющей пробуждать и использовать бессознательные ресурсы личности, выявлять и изменять стратегии поведения и мышления, менять собственную реальность в желаемом ключе. 
				p.about-text НЛП актуально для бизнес-проектов, самосовершенствования, коучинга, педагогики, психотерапии, для решения различных проблем, а также для достижения поставленных целей. НЛП теперь включает практики из терапии диссоциированных состояний, то есть работа с абсолютно любым видом проблем, включая зависимости (алкоголизм, наркомания, булимия), физические и психические заболевания, суициды, затяжные депрессии и т.д.
			.col-md-6.col-sm-6
				.about-wrapper
					img.about-img(src=path+"img/images/about.jpg", alt="Картинка блока")
					.footnote.footnote-about.footnote-1
						h4.footnote-title 27 глобальных тем
						p.footnote-text от сбора терапевтической информации клиента до составления индивидуальных программ по работе с клиентами
					.footnote.footnote-about.footnote-2
						h4.footnote-title 30 недель обучения
						p.footnote-text от онлайн-уроков с теорией и различными рабочими техниками до заданий и самостоятельной работы
					.footnote.footnote-about.footnote-3
						h4.footnote-title 258 академических часов
						p.footnote-text длительность полного обучения с аттестацией и вручением диплома