mixin ben(cl,h4,p)
	.benefit(class=cl)
		h4.benefit-title='0'+h4
		p.benefit-text=p

section#benefits
	.container
		+gt('general-title-white','ПРЕИМУЩЕСТВА ОБУЧЕНИЯ')
		.row
			.col-md-7
				+ben('benefit-1','1','Это шанс получить новую профессию, востребованную в современных реалиях')
				+ben('benefit-2','2','Освоив техники НЛП, Вы сможете сменить работу, а также обрести дополнительный и достойный источник дохода')
				+ben('benefit-3','3','Вам не придётся запоминать большое количество ненужной информации, Вы получите максимум практики, чтобы лично прочувствовать всю уникальность и эффективность метода')
				+ben('benefit-4','4','Занятия  включают три дня проработки личной проблематики участников по любому запросу')
				+ben('benefit-5','5','На бесплатных вебинарах будут представлены в том числе техники из платной части курса')
				+ben('benefit-6','6','Возможность сразу после мастер-класса применять техники для работы с собственными задачами и проблематикой')
				+b('','#Modal','Участвовать бесплатно')
			.col-md-5
				img(src=path+"img/images/benefits.png", alt="ПРЕИМУЩЕСТВА ОБУЧЕНИЯ").benefits-img