mixin for(cl,p)
	p.for-item(class=cl)=p

section#for
	.container
		+gt('','Данный курс необходим для тех, кто хочет')
		.row
			.col-md-5.col-sm-5
				+for('for-item-1','Принять участие в анализе личностных проблем в прямом эфире (демо-сессия по запросу участников)')
				+for('for-item-2','Эффективно владеть инструментами исцеления любой проблематики людей')
				+for('for-item-3','Освоить техники и  практики по управлению собой, исцелению физических и психических недугов')
				+for('for-item-4','Переквалифицироваться в специалиста по психологии, даже если у вас далёкое от этой сферы образование')
			.col-md-5.col-sm-5.col-md-offset-2.col-sm-offset-2
				+for('for-item-left for-item-5','Узнать о новейших методах психотерапии для более расширения границ своей практики и решения вопросов личностного и профессионального роста')
				+for('for-item-left for-item-6','Выйти на более высокий  уровень профессионализма и повысить эффективность работы с клиентами')
				+for('for-item-left for-item-7','Получить психологическое образование и продолжать развиваться в этом направлении')
				+for('for-item-left for-item-8','Понять, как можно менять собственную реальность и управлять собственной жизнью при помощи усовершенствованной технологии НЛП')
		+b('','#Modal','Мне это необходимо')