mixin day(cl,h4,small,bonus,...items)
	.day(class=cl)
		h4.day-title='День '+h4
			small=small
		ul.day-list
			each item in items
				li=item
		p.day-bonus
			span Бонус
			=bonus

section#plan
	.container
		h3.general-title.general-title-plan На презентации Жанна Абрамова наглядно продемонстрирует суть работы системного психолога
			small В «прямом эфире» она будет проводить сессии по запросам участников
		+day('day-1','1','Модели управления людьми','демо-сессия с участниками мастер-класса в прямом эфире по анализу любых личностных проблем по запросу (например, отношения, страхи, деструктивное состояние)','- Типы моделей','- Модели-связки с внутренними конфликтами, которые не дают двигаться к цели и получать желаемое','- Теория конфликтов, травм, заболеваний. Таблица взаимосвязи прошлого опыта, текущих эмоций и будущих событий','- Знакомство с модельными нарушениями и искажениями, формирующими конфликты, безденежье, заболевания')
		+day('day-2','2','Этапы формирования судьбы','демо-сессия с участниками мастер-класса по исцелению физического заболевания.','- Поиск реперных (отправных) точек проблем и заболеваний','- Нейтрализация зарядов в отправных точках проблематики в прямом эфире','- Таблица для работы с эмоциональным эквивалентом физических заболеваний')
		+day('day-3','3','Терапия в действии','демо-сессия с участниками мастер-класса по решению проблем с финансами','- Работа с техниками НЛП','- Финансовые вопросы с точки зрения НЛП','- Работа с внутренним эмоциональным конфликтом, формирующем проблемы с деньгами и собственной реализацией (предназначением)')
		+b('','#Modal','Записаться на презентацию')