mixin us(cl,h4,p)
	.usefull-item(class=cl)
		h4.usefull-item-title='0'+h4
		p.usefull-text=p

section#usefull
	.container
		+gt('general-title-white','Польза от участия в онлайн-презентации')
		.row
			.col-md-4.col-sm-4
				+us('usefull-item-1','1','На бесплатных вебинарах будут представлены в том числе техники из платной части курса')
			.col-md-4.col-sm-4
				+us('usefull-item-2','2','Через проработку проблематики других участников  проработаете свои личные проблемы')
			.col-md-4.col-sm-4
				+us('usefull-item-3','3','Получите от тренера в прямом эфире анализ вашей проблемной ситуации')
		.row
			.col-md-4.col-sm-4
				+us('usefull-item-4','4','Увидите работу мастера на практике и поймёте, в чём заключается суть профессии.')
			.col-md-4.col-sm-4
				+us('usefull-item-5','5','Научитесь прорабатывать свои личные запросы по аналогии работы мастера')
			.col-md-4.col-sm-4
				+us('usefull-item-6','6','Сможете лично оценить все преимущества профессии психолога в современном формате')
		.row
			.col-md-8.col-sm-8
				.usefull-item.usefull-tem-7
					h4.usefull-item-title 07
					p.usefull-item-text Освоите актуальные эффективные техники:
					ul.usefull-item-list
						li - по работе с внутренними эмоциональными конфликтами, работе с субличностями (кто мне не дает реализовывать собственные задачи);
						li - по работе с физическими заболеваниями (какова психосоматическая причина физических недугов);
						li - по работе с финансовыми вопросами (в чём основная проблема финансовых неудач);
			.col-md-4.col-sm-4
				+us('usefull-item-8','8','Сразу после онлайн-презентации сможете работать по своим или клиентским запросам, используя данные техники')
		+b('button-usefull','#Modal','Получить пользу')