section#program
	.container
		.program-container
			+gt('','Программа обучающего курса')
			.program-table
				.program-table-row
					.program-table-cell.program-cell-head
						h4.program-table-cell-head-title Наименование тем
					.program-table-cell.program-cell-head
						h4.program-table-cell-head-title График
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 1
					.program-table-cell
						p.program-table-cell-text Установление и поддержание раппорта.
							br
							| Сбор терапевтической информации клиента
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 2
					.program-table-cell
						p.program-table-cell-text Исследование хранилища травм: кратчайший путь в прошлое (СКО – система конденсированного опыта)
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 3
					.program-table-cell
						p.program-table-cell-text Идентичность личности
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 4
					.program-table-cell
						p.program-table-cell-text Поиск первичной отправной точки травмы
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 5
					.program-table-cell
						p.program-table-cell-text Выживательные инстинкты, оберегающие травму.
							br
							| Безопасность и  выживание.
							br
							| Суть выживательной модели
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 6
					.program-table-cell
						p.program-table-cell-text Вторичные выгоды, как система безопасности
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 7
					.program-table-cell
						p.program-table-cell-text Теория возникновения первичной клетки, сформировавшей заболевание
							br
							| Теория ГНМ – новая германская медицина
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 8
					.program-table-cell
						p.program-table-cell-text Страхи. Фобии. Нарушенные личные границы
							br
							| Восстановление границ
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 9
					.program-table-cell
						p.program-table-cell-text Алгоритм терапевтической модели исцеления травм (заболеваний)
							br
							| Пошаговый план работы с симптомом
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 10
					.program-table-cell
						p.program-table-cell-text Модель коммуникативных категорий
							br
							| Репрезентативные системы – Визуалы. Аудиалы. Кинестеты. Дискреты. Категории Сатир
					.program-table-cell
						p.program-table-cell-text 2 занятия
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 11
					.program-table-cell
						p.program-table-cell-text Метамодель. Метаубеждение. Нарушение метамодели. Изменение смыслов
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 12
					.program-table-cell
						p.program-table-cell-text Ключи глазного доступа
							br
							| Паттерны глазного сканирования
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 13
					.program-table-cell
						p.program-table-cell-text Составление карты ключей доступа
					.program-table-cell
						p.program-table-cell-text 1 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 14
					.program-table-cell
						p.program-table-cell-text Калибровки. Умение сканировать проблематику клиента
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 15
					.program-table-cell
						p.program-table-cell-text Комплексные эквиваленты
							br
							| Обнаружение комплексных эквивалентов
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 16
					.program-table-cell
						p.program-table-cell-text Рефрейминг     
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 17
					.program-table-cell
						p.program-table-cell-text Терапия диссоциированных состояний
							br
							| Поиск внутренне-эмоционального конфликта
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 18
					.program-table-cell
						p.program-table-cell-text Драма контроля, как саботаж собственного развития, ведущая к зависимости
					.program-table-cell
						p.program-table-cell-text 4 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 19
					.program-table-cell
						p.program-table-cell-text Групповая психотерапия
							br
							| АА и двенадцати шаговые программы
					.program-table-cell
						p.program-table-cell-text 4 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 20
					.program-table-cell
						p.program-table-cell-text Пограничная патология по Кернбергу 
					.program-table-cell
						p.program-table-cell-text 2 занятия
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 21
					.program-table-cell
						p.program-table-cell-text Аддикция, как попытка самолечения
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 22
					.program-table-cell
						p.program-table-cell-text Теория созависимости
							br
							| Проблема ранней стадии лечения
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 23
					.program-table-cell
						p.program-table-cell-text Модификации интеракционной модели Ялома
					.program-table-cell
						p.program-table-cell-text 2 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 24
					.program-table-cell
						p.program-table-cell-text Проработка аддиктивных клиентов
					.program-table-cell
						p.program-table-cell-text 4 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 25
					.program-table-cell
						p.program-table-cell-text Регрессионный гипноз
					.program-table-cell
						p.program-table-cell-text 4 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 26
					.program-table-cell
						p.program-table-cell-text Процесс исцеления в частной и групповой терапии
					.program-table-cell
						p.program-table-cell-text 8 занятие
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 27
					.program-table-cell
						p.program-table-cell-text Коучинг. Пошаговая инструкцияработы с клиентами. Составление индивидуальных программ по работе с клиентами
					.program-table-cell
						p.program-table-cell-text 8 занятие
		+b('','#Modal','Узнать подробнее')