section#program
	.container
		.program-container
			+gt('','Программа обучающего курса')
			.program-table
				.program-table-row
					.program-table-cell.program-cell-head
						h4.program-table-cell-head-title Наименование тем
					.program-table-cell.program-cell-head
						h4.program-table-cell-head-title График
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 1
					.program-table-cell
						p.program-table-cell-text Анализ структуры личности: формирование жизненных сценариев и стратегий, сформировавших судьбу человека
					.program-table-cell
						p.program-table-cell-text 2 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 2
					.program-table-cell
						p.program-table-cell-text МАК (метафорические ассоциативные карты)
					.program-table-cell
						p.program-table-cell-text 4 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 3
					.program-table-cell
						p.program-table-cell-text Психовампиризм
					.program-table-cell
						p.program-table-cell-text 2 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 4
					.program-table-cell
						p.program-table-cell-text Психохирургия
					.program-table-cell
						p.program-table-cell-text 4 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 5
					.program-table-cell
						p.program-table-cell-text Гештальт-терапия
					.program-table-cell
						p.program-table-cell-text 4 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 6
					.program-table-cell
						p.program-table-cell-text Системно-полевая терапия
					.program-table-cell
						p.program-table-cell-text 5 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 7
					.program-table-cell
						p.program-table-cell-text НЛП – нейролингвистическое программирование. Регрессионный гипноз. ДСТ
					.program-table-cell
						p.program-table-cell-text 5 недели
				.program-table-row
					.program-table-cell
						p.program-table-cell-text Тема 8
					.program-table-cell
						p.program-table-cell-text Технология достижения целей.
							br
							| Акмеология
					.program-table-cell
						p.program-table-cell-text 4 недели
		+b('','#Modal','Узнать подробнее')