section#main
	.container
		include ../base/header.pug
		.row
			.col-md-8
				h1.main-title
					small обучающий курс
					| Новая системная психология-2.0
				p.main-info Старт курса: 
					span 23 июня, 19:00 (мск)
				p.main-info Автор курса: 
					span Жанна Абрамова
				+b('button-main','#prices','Записаться')