section#features
	.container
		+gt('','ОСОБЕННОСТИ КУРСА')
		.row
			.col-md-6
				p.feats-text 
					span Психотерапевтический курс «Новая системная психология 2.0.» направлен 
					| на нейролингвистическую и психотерапевтическую работу с клиентами
				p.feats-text
					span Объединяет 5 терапевтических курсов 
					| – метафизику, НЛП, ДСТ, психотерапию, регрессивный гипноз. Программа содержит только работающие практики и техники.
				p.feats-text
					span Курс рассчитан на 9 месяцев 
					| с разбивкой на модули: модуль 1 – 1,5 месяца, модуль 2 – 2,5 месяца, модуль 3 – 4,5 мес. Модули можно проходить отдельно. По каждому модулю выдаётся сертификат. При прохождении всех трёх модулей выдаётся диплом о профессиональной переподготовке
			.col-md-6
				.feats-wrapper
					img.feats-img(src=path+"img/images/about.jpg", alt="Картинка блока")
					.footnote.footnote-feats.footnote-feats-1
						h4.footnote-title После 1-го модуля
						p.footnote-text вы сможете проводить работу с травмами и ключевыми причинами проблематики клиентов
					.footnote.footnote-feats.footnote-feats-2
						h4.footnote-title После 2-го модуля
						p.footnote-text – пользоваться методом НЛП через работу с диссоциированными частями, разрешать внутренние эмоциональные конфликты клиентов, а также прорабатывать проблемы любых сфер жизни (финансы, отношения, здоровье)
					.footnote.footnote-feats.footnote-feats-3
						h4.footnote-title После 3-го модуля
						p.footnote-text – проводить глубокую терапию зависимостей по системе 12-ти шагов, симбиозов, травм, а также терапию по системе коучинга