section#plan
	.container
		+gt('general-title-white','План курса')
		.modules
			.module.module-1
				h4.module-title Модуль 1
				p.module-text
					span Тема 1.
					|  Установление и поддержание раппорта. Сбор терапевтической информации клиента
				p.module-text
					span Тема 2.
					|  Исследование хранилища травм: кратчайший путь в прошлое (СКО – система конденсированного опыта)
				p.module-text
					span Тема 3.
					|  Идентичность личности
				p.module-text
					span Тема 4.
					|  Поиск первичной отправной точки травмы
				p.module-text
					span Тема 5.
					|  Выживательные инстинкты, оберегающие травму. Безопасность и  выживание. Суть выживательной модели
				p.module-text
					span Тема 6.
					|  Вторичные выгоды. Вторичные выгоды как система безопасности
				p.module-text
					span Тема 7.
					|  Теория возникновения первичной клетки, сформировавшей заболевание. Теория ГНМ – новая германская медицина
				p.module-text
					span Тема 9.
					|  Страхи. Фобии. Нарушенные личные границы. Восстановление границ
				p.module-text
					span Тема 10.
					|  Алгоритм терапевтической модели исцеления травм (заболеваний). Пошаговый план работы с симптомом
			.module.module-2
				h4.module-title Модуль 2
				.row
					.col-md-6.col-sm-6
						p.module-text
							span Тема 1.
							|  Модель коммуникативных категорий
						ul.module-list
							li Репрезентативные системы – визуалы, аудиалы, кинестеты, дискреты
							li Категории Сатир
							li Использование репрезентативных систем и категорий Сатир
						p.module-text
							span Тема 2.
							|  Метамодель
						ul.module-list
							li Метаубеждения. 9 видов метаубеждений
							li Нарушение метамодели
							li Паттерны метаубеждений и их влияние на репрезентативные системы
							li Встраивание навыка отслеживания метамодельных нарушений
						p.module-text
							span Тема 3.
							|  Ключи глазного доступа
						ul.module-list
							li Паттерны глазного сканирования
							li Иные ключи доступа: дыхание, положение тела
						p.module-text
							span Тема 4.
							|  Составление карты ключей доступа
						ul.module-list
							li Отображение на карте предпочитаемой системы и иерархии
					.col-md-6.col-sm-6
						p.module-text
							span Тема 5.
							|  Калибровки
						ul.module-list
							li Умение сканировать проблематику клиента
							li Отличительные признаки калибровок
							li Калибровка клиента
							li Конфликты, распознаваемые через калибровки
						p.module-text
							span Тема 6.
							|  Комплексные эквиваленты
						ul.module-list
							li Обнаружение комплексных эквивалентов
						p.module-text
							span Тема 7.
							|  Рефрейминг
						ul.module-list
							li Определение формы проблемы
							li Вербальное и невербальное присоединение к форме проблемы
						p.module-text
							span Тема 8.
							|  Терапия диссоциированных состояний
						ul.module-list
							li Поиск внутренне-эмоционального конфликта
							li Поиск конфликтующих частей
							li Техники по восстановлению целостности конфликтующих частей
							li Терапия с клиентом. Техники. Практики
			.module.module-3
				h4.module-title Модуль 3
				.row
					.col-md-6.col-sm-6
						p.module-text
							span Тема 1.
							|  Драма контроля как саботаж собственного развития, ведущий к зависимости
						ul.module-list
							li Контроль как неврологическое заболевание
							li Природа истины. Как мы воспринимаем реальность. Что такое реальность с нашей точки восприятия. Искажение истины
							li Природа уязвленного эго
							li Болезни. Частная терапия заболеваний
						p.module-text
							span Тема 2.
							|  Групповая психотерапия. АА и 12-шаговые программы
						ul.module-list
							li Патология характера и аддикция
							li Нарциссическое расстройство личности
							li Лечение стыда и нарциссизма
							li Алкоголизм: исторические корни
							li Уязвимость самооценки
							li Лечение алкоголизма
							li Экзистенциальная позиция АА
						p.module-text
							span Тема 3.
							|  Пограничная патология по Кернбергу
						ul.module-list
							li Поддерживающая психотерапия
						p.module-text
							span Тема 4.
							|  Аддикция как попытка самолечения
						ul.module-list
							li Уязвимость самооценки
							li Работа с личными границами, идентичностью, самооценкой
						p.module-text
							span Тема 5.
							|  Теория созависимости
						ul.module-list
							li Проблема ранней стадии лечения
							li Защитные механизмы
							li Использование терапевтических рычагов
							li Конфронтация
							li Интервенция
					.col-md-6.col-sm-6
						p.module-text
							span Тема 6.
							|  Модификации интеракционной модели Ялома
						ul.module-list
							li Лечение на ранней и поздней стадии
							li Рекомендации для групповой психотерапии
							li Основная лечебная программа
						p.module-text
							span Тема 7.
							|  Проработка аддиктивных клиентов
						ul.module-list
							li Работа с симбиозом
							li Интеграция первичного конфликта
							li Модели и интеграции
							li Присоединение к будущему
						p.module-text
							span Тема 8.
							|  Регрессивный гипноз
						ul.module-list
							li Поиск первопричины проблематики
							li Исцеление при помощи регрессивного гипноза отправную точку проблематики
						p.module-text
							span Тема 9.
							|  Процесс исцеления в частной и групповой терапии
						ul.module-list
							li Пошаговая инструкция работы с заболеваниями, созависимостью
						p.module-text
							span Тема 10.
							|  Коучинг
						ul.module-list
							li Пошаговая инструкция работы с клиентами
							li Составление индивидуальных программ по работе с клиентами
							li Поиск клиентов