section#lets
	.container
		+gt('general-title-white','Курс позволит вам:')
		.row
			.col-md-6.col-sm-6
				ul.author-list
					li Проработать первопричины проблем во всех жизненных сферах; 
					li Научиться работать с клиентами, используя самые эффективные техники психотерапии;
					li Быстро добираться до ключевой проблемы, сформировавшей весь паттерн проблематики; 
					li Проработать свои и клиентов эмоциональные заряды и внутренние конфликты;
			.col-md-6.col-sm-6
				ul.author-list
					li Узнать, как работать с зависимостями (алкоголизмом, булимией, наркоманией и т.д.);
					li Научиться работать с заболеваниями;
					li Получить навыки работы по восстановлению целостности личности и работе с расщеплёнными частями (диссоциированным расстройством);
					li Проводить индивидуальную работу, используя эффективную модель коучинга;
		.row
			.col-md-12.col-sm12
				ul.author-list
					li Освоить пошаговую технологию успешной психотерапии и технологию исцеления созависимости за 12 шагов